.control-label:after {
   content:" *";
   color:red;
}

#myInput {
    background-position: 10px; /* Position the search icon */
    background-repeat: no-repeat; /* Do not repeat the icon image */
    width: 20%; /* Full-width */
    font-size: 15px; /* Increase font-size */
    padding: 6px; /* Add some padding */
    border: 1px solid #ddd; /* Add a grey border */
    margin-bottom: 10px; /* Add some space below the input */
}

#myInputW {
    background-position: 10px; /* Position the search icon */
    background-repeat: no-repeat; /* Do not repeat the icon image */
    width: 20%; /* Full-width */
    font-size: 15px; /* Increase font-size */
    padding: 6px; /* Add some padding */
    border: 1px solid #ddd; /* Add a grey border */
    margin-bottom: 10px; /* Add some space below the input */
}

.bcs_logo {
	
font-size: 200%;
}

.usernameNavbar {
	color: #ff1a66;
}